<div id="f1">
  <h2>Your tasks:</h2>
  <ol class="task-list">
    <li *ngFor="let t of tasks" (dblclick)="deleteTask(t)" [style.backgroundColor]="getColor(t.task)" class="task-item">
      <div class="task-content">
        <strong>{{t.task}}</strong> <br><br>
        {{t.sd | date}} -- {{t.ed | date}} <br><br>
        {{t.duration}} days <br><br>
      </div>
    </li>
  </ol>
</div>

<div id="f2">
  <h3>Add a new task:</h3>
  <pre>
    Task: <input type="text" [(ngModel)]="newTask.task" id="i1" class="input-text">
    Start date: <input type="date" [(ngModel)]="newTask.sd" id="d1" class="input-date">
    End date: <input type="date" [(ngModel)]="newTask.ed" id="d2" class="input-date"><br><br>
    Priority: 
    <select [(ngModel)]="newTask.priority" class="input-select">
      <option [value]="1">High</option>
      <option [value]="2">Medium</option>
      <option [value]="3">Low</option>
    </select><br><br>
  </pre>
  <button (click)="addTask()" id="b1" class="btn">Add</button><br><br>
  <h3>Modify a task:</h3>
  Double click to delete a task <br><br>
  <pre>
    Task to modify: <input type="text" [(ngModel)]="currentTaskName" id="i2" class="input-text">
    New task name: <input type="text" [(ngModel)]="modifiedTask.task" id="i3" class="input-text">
    Start date: <input type="date" [(ngModel)]="modifiedTask.sd" id="d3" class="input-date">
    End date: <input type="date" [(ngModel)]="modifiedTask.ed" id="d4" class="input-date"><br><br>
    Priority: 
    <select [(ngModel)]="modifiedTask.priority" class="input-select">
      <option [value]="1">High</option>
      <option [value]="2">Medium</option>
      <option [value]="3">Low</option>
    </select><br><br>
  </pre>
  <button (click)="modifyTask()" id="b2" class="btn">Modify</button><br>
</div>
